*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --flex-gap: 10px;
    --border-radius: 5px;
    --error-color: red;
    --success-color: green;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}
