button {
    padding: 5px;
    max-width: 100px;
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: var(--thick-font);
    transition: background-color 0.5s;
}

.pink-button {
    background-color: var(--pink) !important;
    color: white !important;
    border: none !important;
}

.pink-button:hover {
    background-color: #bd6086 !important;
}

.green-button {
    background-color: var(--dark-green) !important;
    color: white !important;
    border: none !important;
}

.green-button:hover {
    background-color: #3e5a3e !important;
}

.icon-button {
    background: none !important;
    width: fit-content !important;
    height: fit-content !important;
    color: black !important;
    border: none !important;
}

.icon-button:hover {
    background-color: var(--light-grey) !important;
}

/* Button positioning */
.buttons {
    display: flex;
    flex-direction: row !important;
    gap: var(--flex-gap);
    justify-content: flex-end;
}
