/* General */
label {
    width: 100%;
}

input,
textarea {
    margin-top: 5px;
    width: 100%;
    border-radius: var(--border-radius);
    padding: 5px;
    border: 1px solid grey;
}

input:focus {
    outline: none;
    border-color: blue;
}

/* Form layout */
.form-flex {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.form-flex div {
    display: flex;
    flex-direction: column;
}

/* Messages */
.error-message {
    margin-top: 5px;
    color: var(--error-color);
    font-size: 14px;
}

.success-message {
    margin-top: 5px;
    color: var(--success-color);
    font-size: 14px;
}

/* Filters */
.filters-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap);
    max-width: 100%;
}

.filter {
    flex: 1;
}
