/* Form layout */
.form-flex {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.form-flex div {
    display: flex;
    flex-direction: column;
}

/* Messages */
.error-message {
    margin-top: 5px;
    color: var(--error-color);
    font-size: 14px;
}

.success-message {
    margin-top: 5px;
    color: var(--success-color);
    font-size: 14px;
}

/* Filters */
.filters-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap);
    max-width: 60%;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    flex: 1;
}
