*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --flex-gap: 10px;
    --border-radius: 5px;
    --thick-font: 600;

    --error-color: red;
    --success-color: green;
    --pink: #db6b97;
    --cream: #faf3e0;
    --lightest-green: #f2ffe9;
    --light-green: #a6cf98;
    --dark-green: #557c55;
    --light-grey: #f3f3f3;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: var(--cream);
}
