#content {
    padding: 20px;
}

.spaced-vertical-flex {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.title-more-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
